/**
 * @description Theme typography styles
 * @author      C. M. de Picciotto <d3p1@d3p1.dev> (https://d3p1.dev/)
 */
@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('fonts/bebas.ttf') format('truetype');
}

@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('fonts/bebas.ttf') format('truetype');
}

body {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  font-style: normal;
}
