/**
 * @description Moon styles
 * @author      C. M. de Picciotto <d3p1@d3p1.dev> (https://d3p1.dev/)
 */
.scene__moon,
.scene__moon::before,
.scene__moon::after {
  position: absolute;
  top: 5%;
  left: 7%;
  width: 6em;
  height: 6em;
  background-color: hsl(202, 100%, 46%);
  background-image: linear-gradient(
    160deg,
    hsl(202, 100%, 46%) 0%,
    hsl(173, 46%, 66%) 100%
  );
  border-radius: 50%;
  animation:
    moonDeformationBottomLeft 5s infinite alternate,
    moonDeformationTopRight 8s infinite alternate;
}

.scene__moon::before {
  width: 4em;
  height: 4em;
  animation:
    moonDeformationBottomRight 7s infinite alternate,
    moonDeformationTopLeft 9s infinite alternate,
    moonItemHorizontalTranslation 5s infinite alternate;
}

.scene__moon::after {
  width: 4em;
  height: 4em;
  animation:
    moonDeformationBottomLeft 5s infinite alternate,
    moonDeformationBottomRight 7s infinite alternate,
    moonDeformationTopLeft 9s infinite alternate,
    moonDeformationTopRight 10s infinite alternate,
    moonItemVerticalTranslation 5s infinite alternate;
}

@keyframes moonItemHorizontalTranslation {
  from {
    transform: translateX(-4em);
  }
  to {
    transform: translateX(4em);
  }
}

@keyframes moonDeformationBottomLeft {
  from {
    border-bottom-left-radius: 25%;
  }
  to {
    border-bottom-left-radius: 50%;
  }
}

@keyframes moonDeformationBottomRight {
  from {
    border-bottom-right-radius: 30%;
  }
  to {
    border-bottom-right-radius: 50%;
  }
}

@keyframes moonDeformationTopLeft {
  from {
    border-top-left-radius: 35%;
  }
  to {
    border-top-left-radius: 50%;
  }
}

@keyframes moonDeformationTopRight {
  from {
    border-top-right-radius: 40%;
  }
  to {
    border-top-right-radius: 50%;
  }
}

@keyframes moonItemVerticalTranslation {
  from {
    transform: translateY(-4em);
  }
  to {
    transform: translateY(4em);
  }
}
