/**
 * @description Scene styles
 * @author      C. M. de Picciotto <d3p1@d3p1.dev> (https://d3p1.dev/)
 */
.scene {
  --perspective: 600px;
}

.scene {
  width: 100vw;
  height: 100vh;
  position: relative;
  perspective: var(--perspective);
  font-size: 28px;
}

.scene,
.scene div {
  transform-style: preserve-3d;
}
